* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/* --- Меню ---------*/

.menu {
  flex-grow: 0;
  flex-shrink: 0;
  width: 5%;
  background-color: lightblue;
}

.menu__item {
  display: block;
  width: 40px;
  height: 40px;
  margin: 12px auto auto;
  opacity: 0.5;
  background: white;
}

.menu__item:hover {
  opacity: 1;
}

.menu__item-circle {
  border-radius: 50%;
}
.menu__item-rect {}

.menu__item-circle_active,
.menu__item-rect_active {
  background: yellow;
  opacity: 1;
  transform: scale(1.1);
}

.menu__item-triangle {
  display: block;
  width: 0;
  height: 0;
  margin: 0px auto auto;
  background: transparent;
  border: 22px solid transparent;
  border-bottom: 33px solid white;
  opacity: 0.5;
}
.menu__item-triangle_active {
  border-bottom: 33px solid yellow;
  opacity: 1;
  transform: scale(1.1);
}

.menu__item-button {
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  background: #008000;
}

.menu__item-button:disabled {
  background: gray;
}

.menu__item-color-picker {
  margin: 120px auto auto;
}


/*-------Контейнер----------------*/

.container {
  width: 95%;
}

.shape {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background: #008000;
  transform: scale(1.0);
}

.shape_active {
  opacity: 0.5;
  transform: scale(1.2);
}

.shape__circle {
  border-radius: 50%;
}
.shape__rect {}

.shape__triangle {
  width: 0;
  height: 0;
  background: transparent;
  border: 22px solid transparent;
  border-bottom: 37.4px solid #008000;
}